<footer class="wpcs-foot">
  <div class="wpcs-foot__inner">
    <div>
      <h4>This paper</h4>
      <ul>
        <li><a href="https://working-papers-in-critical-search.github.io/home/papers/">All papers</a></li>
        <li><a href="https://working-papers-in-critical-search.github.io/home/about.html">About the journal</a></li>
        <li><a href="https://working-papers-in-critical-search.github.io/home/submit.html">Submit your own</a></li>
      </ul>
    </div>
    <div>
      <h4>Open source</h4>
      <ul>
        <li><a href="https://github.com/Working-Papers-in-Critical-Search">GitHub organisation</a></li>
        <li><a href="https://zenodo.org/communities/wpcs">Zenodo community</a></li>
        <li><a href="https://github.com/Working-Papers-in-Critical-Search/paper-template">Paper template</a></li>
      </ul>
    </div>
    <div>
      <h4>Contact</h4>
      <ul>
        <li><a href="mailto:jim.clifford@usask.ca">jim.clifford@usask.ca</a></li>
        <li>Jo Guldi, Emory</li>
        <li>Jim Clifford, U. Saskatchewan</li>
      </ul>
    </div>
  </div>
  <div class="wpcs-foot__coda">
    <span>© 2026 Working Papers in Critical Search · Licensed under CC-BY 4.0</span>
    <span>Typeset in EB Garamond &amp; JetBrains Mono</span>
  </div>
</footer>
